# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
ENV/

# VSCode
.vscode/

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Results and outputs
/scripts/results/

# Audio outputs
*.mp3
*.wav

# Secrets
.env
secrets.json